body{
	background-image: url('raidatikkuna.jpg');
	flex-wrap: wrap;
}
header{
	
	border: 4px;
	background-color: rgba(255, 255, 255, 0.407);

}

.container{
    text-align: center;
    margin: auto;
	position: relative;
}
.border {
	border: 2px;
}
.center {
	text-align: center;
}

p{
	box-sizing: border-box;
	padding: 4px;
	color: black;
	background-color: rgb(255, 255, 255);
	margin-bottom: 2px;
}

.row {
	margin-bottom: 2px;;
}
.left {
	float: left;
}
.right {
	float: right;
}
.full-width {
	width: 100%;
}
.nav-link.active {
	color: black;
}
section {
	clear: both;
}
.navbar{
	font-size: large;
	position: relative;
	text-align: right;

}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/*
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2{
	font-family:monospace;
	font-size: 50px;
	color: black;
	background-color: white;
	text-shadow: beige 10px 10px 10px;
	margin-bottom: 0%;
	
}
